body {
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 15px;
color: rgb(97,97,97);
}
header {
background: -moz-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/header_bg.jpg);
background: -o-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/header_bg.jpg);
background: -webkit-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/header_bg.jpg);
background: linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/header_bg.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
overflow: hidden;
position: relative;
}
.container {
max-width: 1170px;
width: 100%;
margin: 0 auto;
padding: 0 15px;
}
.container.head {
padding-top: 240px;
padding-bottom: 155px;
}
.page-title {
width: 72%;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
h1 {
font-family: 'Libre Baskerville', serif;
font-weight: 400;
font-size: 60px;
color: rgb(255,255,255);
line-height: 1.37;
text-align: center;
}
header form {
display: inline-block;
margin-top: 45px;
margin-bottom: 67px;
}
header button,
button.pricing-item-but,
button.get-start-but,
button.message-form_submit {
width: 180px;
height: 50px;
border-radius: 25px;
overflow: hidden;
font-size: 16px;
font-weight: 600;
line-height: 1;
letter-spacing: -0.3px;
text-transform: uppercase;
color: rgb(255,255,255);
box-shadow: none;
}
header button, button.get-start-but, button.message-form_submit {
background-color: rgb(252,95,69);
border: 3px solid rgb(252,95,69);
}
header button:hover, .get-start-but:hover {
background-color: transparent;
/* background-color: rgb(255,255,255); what is better? */
color: rgb(252,95,69);
}

.feature-content {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
flex-wrap: wrap;
}
.featurebox {
width: calc(24% - 30px);
margin: 15px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
.featurebox p {
margin-top: 32px;
font-size: 18px;
font-weight: 500;
text-transform: uppercase;
}
.featurebox:nth-of-type(1) { color: rgb(56,198,149); }
.featurebox:nth-of-type(2) { color: rgb(178,124,245); }
.featurebox:nth-of-type(3) { color: rgb(254,185,96); }

.container-fluid {
width: 100%
}
.header-content-overlay {
position: absolute;
top: 0;
left: 0;
right: 0;
background-color: rgb(255,255,255);
}
.container.menu {
padding-top: 16px;
padding-bottom: 24px;
display: flex;
align-items: center;
justify-content: space-between;
}
span.logo-hd {
font-family: 'Wisdom script';
font-size: 35px;
color: rgb(97,97,97);
}
span.logo-hd:first-letter {
color: rgb(252,95,69);
}
nav {
text-align: right;
margin-top: 3px;
margin-right: -6px;
}
nav a {
display: inline-block;
padding: 2px;
margin: 0 4px;
font-size: 14px;
font-weight: 500;
color: rgb(39,39,39);
}
nav a:visited {
color: rgb(39,39,39);
}

.about-content {
width: 100%;
margin: 150px 0;
padding-bottom: 700px;
position: relative;
}
.about-us-pict {
width: 555px;
padding-bottom: 680px;
border: 10px solid rgb(204,204,204);
background: -moz-linear-gradient(rgba(204,204,204,0.8), rgba(218,172,164,0.8)), url(../images/works/about-image.jpg);
background: -o-linear-gradient(rgba(204,204,204,0.8), rgba(218,172,164,0.8)), url(../images/works/about-image.jpg);
background: -webkit-linear-gradient(rgba(204,204,204,0.8), rgba(218,172,164,0.8)), url(../images/works/about-image.jpg);
background: linear-gradient(rgba(204,204,204,0.8), rgba(218,172,164,0.8)), url(../images/works/about-image.jpg);
background-size: cover;
background-position: center;
position: absolute;
top: 0;
left: 0;
bottom: 0;
}

.about-us-box {
width: 57%;
padding-bottom: 547px;
box-shadow: 8px -8px 12px rgba(204,204,204,0.4);
position: absolute;
right: 0;
top: 50%;
-moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.about-us-box:after, .contact-block:after {
content: '';
display: inline-block;
background: -moz-linear-gradient(to right, rgb(252,95,69) 25%,
            rgb(56,198,149) 25%, rgb(56,198,149) 50%,
            rgb(178,124,245) 50%, rgb(178,124,245) 75%,
            rgb(254,185,96) 75%);
background: -o-linear-gradient(to right, rgb(252,95,69) 25%,
            rgb(56,198,149) 25%, rgb(56,198,149) 50%,
            rgb(178,124,245) 50%, rgb(178,124,245) 75%,
            rgb(254,185,96) 75%);
background: -webkit-linear-gradient(to right, rgb(252,95,69) 25%,
            rgb(56,198,149) 25%, rgb(56,198,149) 50%,
            rgb(178,124,245) 50%, rgb(178,124,245) 75%,
            rgb(254,185,96) 75%);
background: linear-gradient(to right, rgb(252,95,69) 25%,
            rgb(56,198,149) 25%, rgb(56,198,149) 50%,
            rgb(178,124,245) 50%, rgb(178,124,245) 75%,
            rgb(254,185,96) 75%);
width: 100%;
height: 3px;
position: absolute;
bottom: -3px;
left: 0;
right: 0;
}

.about-us-info {
padding: 84px 80px;
background-color: rgb(255,255,255);
text-align: left;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 10;
}
h2 {
font-family: 'Libre Baskerville', serif;
font-weight: 700;
font-size: 50px;
color: rgb(49,49,49);
}
.about-us-info p {
margin-top: 28px;
text-align: left;
line-height: 1.8;
}

section.bg-gray {
background-color: rgb(247,247,247);
}
.section-title {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin: 0 auto;
}
.section-title p {
margin-top: 20px;
font-weight: 400;
font-size: 18px;
letter-spacing: -0.1px;
color: rgb(97,97,97);
}

.focus-content, .portfolio-content, .pricing-content {
padding-top: 138px;
padding-bottom: 70px;
}
.team-content, .steps-content, .why-content, .message-block {
padding-top: 138px;
padding-bottom: 150px;
}

.focus-service-items, .portfolio-items, .team-items, .pricing-table, .why-features {
margin: 62px -15px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
flex-wrap: wrap;
}
.service-item {
width: calc(25% - 30px);
margin: 15px;
padding: 65px 30px;
text-align: center;
background-color: rgb(255,255,255);
box-shadow: 8px -8px 12px rgba(204,204,204,0.4);
}
.service-item:nth-of-type(1) { border-bottom: 3px solid rgb(252,95,69); }
.service-item:nth-of-type(2) { border-bottom: 3px solid rgb(56,198,149);}
.service-item:nth-of-type(3) { border-bottom: 3px solid rgb(178,124,245); }
.service-item:nth-of-type(4) { border-bottom: 3px solid rgb(254,185,96);}

h4 {
font-weight: 500;
font-size: 20px;
color: rgb(49,49,49);
}
.service-item img {
height: 50px;
margin-bottom: 12px;
}
.service-item p {
margin-top: 26px;
line-height: 1.6;
}

.video-content {
background: -moz-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/video_bg.jpg);
background: -o-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/video_bg.jpg);
background: -webkit-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/video_bg.jpg);
background: linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/video_bg.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
overflow: hidden;
}
.player-center-place {
max-width: 854px;
height: calc(100% * (480 / 854));
text-align: center;
line-height: 1;
margin: 10px auto;
}
#video {
width: 100%;
position: relative;
}
#video-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}
#video-play {
position: absolute;
top: 50%;
left: 50%;
-moz-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 1;
cursor: pointer;
transition: 0.5s ease;
transition-property: opacity, visibility;
}
h3 {
font-weight: 500;
font-size: 30px;
}
#video-play h3 {
color: rgb(255,255,255);
margin-bottom: 40px;
}
#video-play p {
margin-top: 40px;
color: rgb(255,255,255);
}

#video video {
  width: 100%;
  display: block;
}
#video.video-is-playing #video-over {
  display: block;
}
#video.video-is-playing #video-play {
  opacity: 0;
  visibility: hidden;
}

.portfolio-item {
width: calc(33.3% - 30px);
margin: 13px 10px;
display: block;
line-height: 0;
box-shadow: 0 0 12px rgba(153,153,153,0.4);
position: relative;
}
.portfolio-item-pict {
width: 100%;
transition: all 0.4s;
}
.portfolio-item:hover .portfolio-item-pict {
filter: brightness(0.7);
}
.portfolio-item-link img {
position: absolute;
left: calc(50% - 30px);
top: calc(42% - 30px);
opacity: 0;
transition: all 0.8s;
}
.portfolio-item:hover .portfolio-item-link img {
opacity: 1;
}
.portfolio-item-name {
background-color: rgb(255,255,255);
width: 100%;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
bottom: 0;
left: 0;
right: 0;
-moz-transform: translateY(98%);
-webkit-transform: translateY(98%);
transform: translateY(98%);
opacity: 0;
transition: all 0.5s linear;
}
.portfolio-item-name p {
color: rgb(49,49,49);
font-size: 18px;
font-weight: 500;
margin: auto;
}
.portfolio-item-name:before {
content: '';
display: inline-block;
background: -moz-linear-gradient(to right, rgb(252,95,69) 25%,
            rgb(56,198,149) 25%, rgb(56,198,149) 50%,
            rgb(178,124,245) 50%, rgb(178,124,245) 75%,
            rgb(254,185,96) 75%);
background: -o-linear-gradient(to right, rgb(252,95,69) 25%,
            rgb(56,198,149) 25%, rgb(56,198,149) 50%,
            rgb(178,124,245) 50%, rgb(178,124,245) 75%,
            rgb(254,185,96) 75%);
background: -webkit-linear-gradient(to right, rgb(252,95,69) 25%,
            rgb(56,198,149) 25%, rgb(56,198,149) 50%,
            rgb(178,124,245) 50%, rgb(178,124,245) 75%,
            rgb(254,185,96) 75%);
background: linear-gradient(to right, rgb(252,95,69) 25%,
            rgb(56,198,149) 25%, rgb(56,198,149) 50%,
            rgb(178,124,245) 50%, rgb(178,124,245) 75%,
            rgb(254,185,96) 75%);
width: 100%;
height: 3px;
position: absolute;
top: 0;
left: 0;
right: 0;
}
.portfolio-item:hover .portfolio-item-name {
-moz-transform: translateY(0);
-webkit-transform: translateY(0);
transform: translateY(0);
opacity: 1;
}

.team-items {
margin-bottom: 34px;
}
.team-items li {
width: calc(25% - 30px);
margin: 15px;
padding: 5px;
text-align: center;
display: block;
background-color: rgb(255,255,255);
box-shadow: 0 0 12px rgba(204,204,204,0.4);
position: relative;
}
.team-items li:nth-of-type(1) { border-bottom: 3px solid rgb(252,95,69); }
.team-items li:nth-of-type(2) { border-bottom: 3px solid rgb(56,198,149); }
.team-items li:nth-of-type(3) { border-bottom: 3px solid rgb(178,124,245); }
.team-items li:nth-of-type(4) { border-bottom: 3px solid rgb(254,185,96);}

.team-items li img {
width: 100%;
margin-bottom: 15px;
}
.team-items li p {
margin: 9px auto;
font-size: 13px;
color: rgb(97.97.97);
}
h5 {
font-size: 18px;
font-weight: 500;
line-height: 1;
}
.team-items li:nth-of-type(1) h5 { color: rgb(252,95,69); }
.team-items li:nth-of-type(2) h5 { color: rgb(56,198,149); }
.team-items li:nth-of-type(3) h5 { color: rgb(178,124,245); }
.team-items li:nth-of-type(4) h5 { color: rgb(254,185,96); }

.team-items li.active:after {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 40px solid rgb(255,255,255);
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  position: absolute;
  bottom: -52px;
  left: calc(50% - 30px);
}
.tabs-content {
padding: 68px 85px 68px 98px;
background-color: rgb(255,255,255);
z-index: 2;
}
.tabs-panel {
display: none;
}
.tabs-panel.active {
display: flex;
align-items: center;
justify-content: space-between;
}
.tm_info-overlay h4 {
margin-bottom: 22px;
}
.tm_info-overlay p {
line-height: 1.8;
}

.socials {
margin: 48px 0 0 86px;
display: flex;
align-items: center;
justify-content: space-between;
}
.socials-links {
width: 144px;
padding-left: 20px;
margin-left: 32px;
border-left: 1px solid rgb(204,204,204);
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}
.socials-links a {
margin-top: 2px;
margin-bottom: 2px;
}
.socials-links img {
margin: 5px;
vertical-align: middle;
}

.stats {
background: -moz-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/stats_bg.jpg);
background: -o-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/stats_bg.jpg);
background: -webkit-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/stats_bg.jpg);
background: linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/stats_bg.jpg);
background-size: cover;
background-position: center;
overflow: hidden;
}
.stats-block {
margin: 130px -15px 110px;
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: center;
flex-wrap: wrap;
}
.stats-element {
width: calc(25% - 30px);
margin: 15px;
text-align: center;
}
.stats-element h4 {
color: rgb(255,255,255);
margin: 18px auto;
}
.stats-element span {
color: rgba(255,255,255,0.7);
}
.se_circle {
margin: 35px auto 0;
width: 16px;
height: 16px;
border: 2px solid;
border-radius: 50%;
display: flex;
align-items: flex-start;
justify-content: flex-start;
}
.stats-element:nth-of-type(1) .se_circle { border-color: rgb(252,95,69); }
.stats-element:nth-of-type(2) .se_circle { border-color: rgb(56,198,149); }
.stats-element:nth-of-type(3) .se_circle { border-color: rgb(178,124,245); }
.stats-element:nth-of-type(4) .se_circle { border-color: rgb(254,185,96); }

@keyframes spin {
from { -moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
 }
to { -moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
 }
}
.se_circle-inside {
margin: 1px;
width: 8px;
height: 8px;
border: 0;
border-radius: 50%;
-moz-transform-origin: 5px 5px;
-o-transform-origin: 5px 5px;
-webkit-transform-origin: 5px 5px;
transform-origin: 5px 5px;
animation: spin 2s linear infinite;
}
.stats-element:nth-of-type(1) .se_circle-inside { background-color: rgb(252,95,69); }
.stats-element:nth-of-type(2) .se_circle-inside { background-color: rgb(56,198,149); animation-delay: 0.5s; }
.stats-element:nth-of-type(3) .se_circle-inside { background-color: rgb(178,124,245); animation-delay: 1s; }
.stats-element:nth-of-type(4) .se_circle-inside { background-color: rgb(254,185,96); animation-delay: 1.5s; }

.steps-content .section-title {
margin-bottom: 128px;
}
.steps-content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.step-item {
max-width: 556px;
width: 100%;
height: 300px;
position: relative;
}
.step-pict {
display: block;
line-height: 0;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 2;
}
.step-pict-gradient {
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 3;
opacity: 0.8;
transition: all 0.5s linear;
}
.step-item:nth-of-type(2) .step-pict-gradient {
 background: -moz-linear-gradient(rgb(204,204,204), rgb(218,172,164));
 background: -o-linear-gradient(rgb(204,204,204), rgb(218,172,164));
 background: -webkit-linear-gradient(rgb(204,204,204), rgb(218,172,164));
 background: linear-gradient(rgb(204,204,204), rgb(218,172,164));
 }
.step-item:nth-of-type(3) .step-pict-gradient {
 background: -moz-linear-gradient(rgb(204,204,204), rgb(160,202,188));
 background: -o-linear-gradient(rgb(204,204,204), rgb(160,202,188));
 background: -webkit-linear-gradient(rgb(204,204,204), rgb(160,202,188));
 background-image: linear-gradient(rgb(204,204,204), rgb(160,202,188));
 }
.step-item:nth-of-type(4) .step-pict-gradient {
 background: -o-linear-gradient(rgb(204,204,204), rgb(196,180,216));
 background: -moz-linear-gradient(rgb(204,204,204), rgb(196,180,216));
 background: -webkit-linear-gradient(rgb(204,204,204), rgb(196,180,216));
 background: linear-gradient(rgb(204,204,204), rgb(196,180,216));
 }
.step-item:nth-of-type(5) .step-pict-gradient {
 background: -moz-linear-gradient(rgb(204,204,204), rgb(218,198,172));
 background: -o-linear-gradient(rgb(204,204,204), rgb(218,198,172));
 background: -webkit-linear-gradient(rgb(204,204,204), rgb(218,198,172));
 background: linear-gradient(rgb(204,204,204), rgb(218,198,172));
 }

.step-item-shadow {
display: block;
width: 460px;
height: inherit;
transition: all 0.5s linear;
}
.step-item:nth-of-type(even) .step-item-shadow {
box-shadow: -8px -8px 12px rgba(204,204,204,0.4);
position: absolute;
top: -17%;
left: -53%;
z-index: 1;
}
.step-item:nth-of-type(odd) .step-item-shadow {
box-shadow: 8px -8px 12px rgba(204,204,204,0.4);
position: absolute;
top: -17%;
right: -53%;
z-index: 1;
}
.step-item-description {
display: flex;
flex-direction: row;
align-items: flex-start;
width: 460px;
height: 300px;
padding: 38px 50px 0 30px;
background-color: rgb(255,255,255);
transition: all 0.5s linear;
}

.step-item:nth-of-type(2) .step-item-description { border-bottom: 3px solid rgb(252,95,69); }
.step-item:nth-of-type(3) .step-item-description { border-bottom: 3px solid rgb(56,198,149); }
.step-item:nth-of-type(4) .step-item-description { border-bottom: 3px solid rgb(178,124,245); }
.step-item:nth-of-type(5) .step-item-description { border-bottom: 3px solid rgb(254,185,96); }

.step-item:nth-of-type(even) .step-item-description {
position: absolute;
top: -17%;
left: -53%;
z-index: 4;
}
.step-item:nth-of-type(odd) .step-item-description {
position: absolute;
top: -17%;
right: -53%;
z-index: 4;
}
.step-item:hover .step-pict-gradient {
opacity: 0;
}

.step-item:nth-of-type(even):hover .step-item-description,
.step-item:nth-of-type(even):hover .step-item-shadow {
-moz-transform: translate(45%, 17%);
-webkit-transform: translate(45%, 17%);
transform: translate(45%, 17%);
}
.step-item:nth-of-type(odd):hover .step-item-description,
.step-item:nth-of-type(odd):hover .step-item-shadow {
-moz-transform: translate(-45%, 17%);
-webkit-transform: translate(-45%, 17%);
transform: translate(-45%, 17%);
}
.sid-number {
width: 80px;
height: 80px;
margin-left: 8px;
margin-right: 8px;
position: relative;
}
.sid-number:after {
content: '';
width: inherit;
height: inherit;
background-image: -moz-linear-gradient(to bottom right, transparent 49%, rgb(224,224,224) 2%, transparent 51%);
background-image: -o-linear-gradient(to bottom right, transparent 49%, rgb(224,224,224) 2%, transparent 51%);
background-image: -webkit-linear-gradient(to bottom right, transparent 49%, rgb(224,224,224) 2%, transparent 51%);
background-image: linear-gradient(to bottom right, transparent 49%, rgb(224,224,224) 2%, transparent 51%);
background-repeat: no-repeat;
position: absolute;
top: 0;
left: 8px;
}
.sid-number h2 {
color: rgb(224,224,224);
line-height: 1;
}
.sid-text {
width: 290px;
margin-top: 32px;
}
h6 {
font-size: 25px;
font-weight: 500;
line-height: 1;
color: rgb(39,39,39);
}
.sid-text p {
margin-top: 22px;
line-height: 1.8;
}

.pricing-item {
width: calc(33.3% - 30px);
margin: 15px;
box-shadow: 0 0 12px rgba(153,153,153,0.4);
text-align: center;
background-color: rgb(255,255,255);
}

.pricing-item:nth-of-type(1) { border-top: 3px solid rgb(56,198,149); }
.pricing-item:nth-of-type(2) { border-top: 3px solid rgb(252,95,69); }
.pricing-item:nth-of-type(3) { border-top: 3px solid rgb(178,124,245); }

.pricing-item:nth-of-type(1) .price-circle { border: 3px solid rgb(56,198,149); }
.pricing-item:nth-of-type(2) .price-circle { border: 3px solid rgb(252,95,69); }
.pricing-item:nth-of-type(3) .price-circle { border: 3px solid rgb(178,124,245); }

.pricing-item:nth-of-type(1) .price-circle-inside { background-color: rgb(56,198,149); }
.pricing-item:nth-of-type(2) .price-circle-inside { background-color: rgb(252,95,69); }
.pricing-item:nth-of-type(3) .price-circle-inside { background-color: rgb(178,124,245); }

.plan-name {
margin: 25px auto 0;
}
.price-circle {
margin: 23px auto 35px;
width: 112px;
height: 112px;
border: 3px solid;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.price-circle-inside {
width: 100px;
height: 100px;
border: 0;
border-radius: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.price-circle-inside h4 {
color: rgb(255,255,255);
}
.price-circle-inside span {
font-size: 13px;
font-weight: 400;
margin-top: 4px;
color: rgb(255,255,255);
}
.plan-field {
margin: 17px auto;
}
button.pricing-item-but {
margin: 20px auto 37px;
}

.pricing-item:nth-of-type(1) button.pricing-item-but {
 background-color: transparent;
 border: 3px solid rgb(56,198,149);
 color: rgb(56,198,149);
}
.pricing-item:nth-of-type(2) button.pricing-item-but {
 background-color: transparent;
 border: 3px solid rgb(252,95,69);
 color: rgb(252,95,69);
}
.pricing-item:nth-of-type(3) button.pricing-item-but {
 background-color: transparent;
 border: 3px solid rgb(178,124,245);
 color: rgb(178,124,245);
}

.pricing-item:nth-of-type(1) button.pricing-item-but:hover {
 background-color: rgb(56,198,149);
 color: rgb(255,255,255);
}.pricing-item:nth-of-type(2) button.pricing-item-but:hover {
 background-color: rgb(252,95,69);
 color: rgb(255,255,255);
}
.pricing-item:nth-of-type(3) button.pricing-item-but:hover {
 background-color: rgb(178,124,245);
 color: rgb(255,255,255);
}

section.reviews {
background: -moz-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/reviews_bg.jpg);
background: -o-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/reviews_bg.jpg);
background: -webkit-linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/reviews_bg.jpg);
background: linear-gradient(rgba(63,64,73,0.8), rgba(63,64,73,0.8)), url(../images/ground/reviews_bg.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
overflow: hidden;
}
.review-content {
padding-top: 138px;
padding-bottom: 116px;
}
.reviews .section-title h2, .reviews .section-title p {
color: rgb(255,255,255);
}
#slider-wrap {
}
#slider {
margin-top: 90px;
height: 399px;
position: relative;
}
.sli-links {
text-align: right;
color: transparent;
}
.sli-links .control-slide {
margin-left: 8px;
display: inline-block;
width: 16px;
height: 16px;
border: 2px solid rgb(255,255,255);
border-radius: 50%;
background: transparent;
}
.sli-links .control-slide:hover {
cursor: pointer;
background: -moz-radial-gradient(circle, rgb(255,255,255), rgb(255,255,255) 4px, transparent 4px, transparent 8px);
background: -o-radial-gradient(circle, rgb(255,255,255), rgb(255,255,255) 4px, transparent 4px, transparent 8px);
background: -webkit-radial-gradient(circle, rgb(255,255,255), rgb(255,255,255) 4px, transparent 4px, transparent 8px);
background: radial-gradient(circle, rgb(255,255,255), rgb(255,255,255) 4px, transparent 4px, transparent 8px);

}
.sli-links .control-slide.active {
border: 2px solid rgb(252,95,69);
background: -moz-radial-gradient(circle, rgb(252,95,69), rgb(252,95,69) 4px, transparent 4px, transparent 8px);
background: -o-radial-gradient(circle, rgb(252,95,69), rgb(252,95,69) 4px, transparent 4px, transparent 8px);
background: -webkit-radial-gradient(circle, rgb(252,95,69), rgb(252,95,69) 4px, transparent 4px, transparent 8px);
background: radial-gradient(circle, rgb(252,95,69), rgb(252,95,69) 4px, transparent 4px, transparent 8px);
}

.slide {
display: flex;
align-items: center;
}
.review-photo {
max-width: 364px;
min-width: 364px;
margin-left: 10px;
outline: 10px solid rgba(39,39,39,0.6);
overflow: hidden;
line-height: 0;
z-index: 5;
}
.review-photo img {
display: block;
width: 100%;
}
.review-info {
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgb(255,255,255);
padding: 40px 65px;
}
.rv_sign {
color: rgb(39,39,39);
margin-top: 20px;
margin-bottom: 10px;
}
.slide_1 .rv_sign { font-family: 'Sacramento', cursive; font-size: 40px;}
.slide_2 .rv_sign { font-family: 'Alex Brush', cursive; font-size: 36px;}
.slide_3 .rv_sign { font-family: 'Dancing Script', cursive; font-size: 28px;}
.slide_4 .rv_sign { font-family: 'Caveat', cursive; font-size: 38px;}
.slide_5 .rv_sign { font-family: 'Homemade Apple', cursive; font-size: 32px;}
.slide_6 .rv_sign { font-family: 'Reenie Beanie', cursive; font-size: 40px;}

.rv_name {
font-size: 18px;
font-weight: 500;
color: rgb(39,39,39);
margin-bottom: 15px;
}
.rv_post {
font-size: 13px;
font-weight: 400;
color: rgb(252,95,69);
}

.slide_1 .review-info { border-bottom: 3px solid rgb(252,95,69); }
.slide_2 .review-info { border-bottom: 3px solid rgb(56,198,149); }
.slide_3 .review-info { border-bottom: 3px solid rgb(178,124,245); }
.slide_4 .review-info { border-bottom: 3px solid rgb(254,185,96); }
.slide_5 .review-info { border-bottom: 3px solid rgb(252,255,0); }
.slide_6 .review-info { border-bottom: 3px solid rgb(109,207,252); }


.why-item {
width: calc(33.3% - 80px);
margin: 8px 40px 52px;
}

.wi-title {
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-start;
margin-bottom: 26px;
}
.wi-title img {
margin-right: 14px;
}
.wi-title h5 {
text-transform: capitalize;
line-height: 1.6;
}
.why-item p {
line-height: 1.8;
letter-spacing: -0.1px;
}

.get-start {
padding-top: 32px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.get-start h6 {
margin-right: 22px;
text-align: right;
}

section.bg-darkgray {
/** background-color: rgb(204,204,204); **/
background: -moz-linear-gradient(rgba(204,204,204,0.8), rgba(204,204,204,0.8)), url(../images/ground/footer_bg.jpg);
background: -o-linear-gradient(rgba(204,204,204,0.8), rgba(204,204,204,0.8)), url(../images/ground/footer_bg.jpg);
background: -webkit-linear-gradient(rgba(204,204,204,0.8), rgba(204,204,204,0.8)), url(../images/ground/footer_bg.jpg);
background: linear-gradient(rgba(204,204,204,0.8), rgba(204,204,204,0.8)), url(../images/ground/footer_bg.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
overflow: hidden;
position: relative;
}
.message-form {
margin: 68px 15% 0 15%;
text-align: center;
}
.message-form input {
margin: 12px 15px;
width: calc(50% - 32px);
padding: 13px 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
color: rgb(97,97,97);
border: 0;
border-radius: 4px;
outline: none;
}
.message-form textarea {
margin: 12px 15px;
width: calc(100% - 32px);
height: 200px;
padding: 13px 18px;
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
color: rgb(97,97,97);
border: 0;
border-radius: 4px;
outline: none;
}
button.message-form_submit {
margin: 32px auto 0;
}
button.message-form_submit:hover {
background-color: rgb(255,255,255);
color: rgb(252,95,69);
}

.contact-block {
margin-bottom: 125px;
padding-top: 44px;
padding-bottom: 44px;
background-color: rgb(63,64,73);
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-end;
flex-wrap: wrap;
position: relative;
}
.contact-item {
width: calc(25% - 30px);
margin: 15px;
padding-left: 30px;
text-align: left;
color: rgb(255,255,255);
}

.contact_1 h5 { color: rgb(56,198,149); margin-bottom: 34px; }
.contact_2 h5 { color: rgb(178,124,245); margin-bottom: 34px; }
.contact_3 h5 { color: rgb(254,185,96); margin-bottom: 38px; }

.foot-item-logo {
width: calc(25% - 30px);
margin: 32px 15px 0;
text-align: center;
vertical-align: top;
font-family: 'Wisdom script';
font-size: 50px;
color: rgb(255,255,255);
}
.foot-item-logo span {
color: rgb(252,95,69);
}
.socials-ft a {
margin-right: 12px;
}


@media (max-width:1024px) {
.service-item { width: calc(50% - 30px); }
.step-item:nth-of-type(even) .step-item-shadow { top: -8%; left: -30%; }
.step-item:nth-of-type(odd) .step-item-shadow { top: -8%; right: -30%; }
.step-item:nth-of-type(even) .step-item-description { top: -8%; left: -30%; }
.step-item:nth-of-type(odd) .step-item-description { top: -8%; right: -30%; }
.step-item:nth-of-type(even):hover .step-item-description,
.step-item:nth-of-type(even):hover .step-item-shadow { -moz-transform: translate(36%, 8%); -webkit-transform: translate(36%, 8%); transform: translate(36%, 8%); }
.step-item:nth-of-type(odd):hover .step-item-description,
.step-item:nth-of-type(odd):hover .step-item-shadow { -moz-transform: translate(-36%, 8%); -webkit-transform: translate(-36%, 8%); transform: translate(-36%, 8%); }
}

@media (max-width:768px) {
body { font-size: 12px; }
h1 { font-size: 40px; }
h2 { font-size: 30px; }
.about-content { padding-bottom: 0; }
.about-us-pict { padding-bottom: 0; display: none; }
.about-us-box { width: 100%; position: static; top: 0; -moz-transform: none; -webkit-transform: none; transform: none;}
.portfolio-item { width: calc(50% - 30px); }
.team-items li { width: calc(50% - 30px); }
.team-items li.active:after { display: none; }
.tabs-content { padding: 24px; }
.tabs-panel.active { flex-direction: column; }
.step-item { width: 100%; }
.step-pict { display: none; }
.step-pict-gradient { display: none; }
.step-item-description { padding: 18px 20px 0 10px; }
.step-item:nth-of-type(even) .step-item-shadow { top: 0; left: 0; }
.step-item:nth-of-type(odd) .step-item-shadow { top: 0; right: 0; }
.step-item:nth-of-type(even) .step-item-description { top: 0; left: 0; }
.step-item:nth-of-type(odd) .step-item-description { top: 0; right: 0; }
.step-item:nth-of-type(even):hover .step-item-description,
.step-item:nth-of-type(even):hover .step-item-shadow { -moz-transform: none; -webkit-transform: none; transform: none; }
.step-item:nth-of-type(odd):hover .step-item-description,
.step-item:nth-of-type(odd):hover .step-item-shadow { -moz-transform: none; -webkit-transform: none; transform: none; }
.sid-number { width: 40px; height: 40px; }
.pricing-item { width: calc(50% - 30px); }
.review-photo { max-width: 182px; min-width: 182px; }
.why-item { width: calc(50% - 80px); }
.message-form input { width: calc(100% - 32px); }
.contact-item { width: calc(50% - 30px); }
.contact_1 { order: 2; }
.contact_2 { order: 3; }
.contact_3 { order: 1; }
.foot-item-logo { width: calc(50% - 30px); }
}

@media (max-width:360px) {
.page-title { width: 100%; }
.featurebox { width: calc(100% - 30px); }
.about-us-box { display: none }
.service-item { width: calc(100% - 30px); }
.portfolio-item { width: calc(100% - 30px); }
.team-items li { width: calc(100% - 30px); }
.step-item-shadow { width: 100%; }
.step-item-description { width: 100%; }
.stats-element { width: calc(100% - 30px); }
.pricing-item { width: calc(100% - 30px); }
.review-photo { display: none; }
.why-item { width: calc(100% - 80px); }
.message-form { margin: 18px 15px; }
.contact-item { width: calc(100% - 30px); }
.contact_1 { order: 2; }
.contact_2 { order: 3; }
.contact_3 { order: 1; }
.foot-item-logo { width: calc(100% - 30px); }
}